<h2>Report</h2>

<% t = Global.singleton.turn 
  report_entries = TurnReport.for_turn_range(t - 1, t).for_citizen_or_any(@citizen)
  %>
<% if report_entries.count > 0 %>
<ul class="list-group">
  <% report_entries.each do |report| %>
  <li class="list-group-item">
    <%=report %><span class="badge"><%=format_turn(report.turn)%></span>
  </li>
  <% end %>
</ul>
<% else %>
<p>Nothing to report yet.</p>
<% end %>