<% content_for :title, 'Petitions' %>
<% content_for :lead, "The City Core Government cares about your needs citizen! You may submit your petition for consideration and vote for those petitions submitted by others.".html_safe %>

<h2>Open Petitions</h2>
<%=render partial: '/petitions/table', locals: {petitions: @open_petitions} %>

<h2>Accepted Petitions</h2>
<%=render partial: '/petitions/table', locals: {petitions: @accepted_petitions} %>

<% if can?(:create, Petition) %>
<div class="row">
  <div class="col-lg-12 text-center">
    <%= link_to 'Petition City Core Government', new_petition_path, class: 'btn-lg btn-primary' %>
  </div>
</div>
<% end %>

<% content_for :help_title, "Petitions" %>
<% content_for :help_body do %>
Petitions are special requests submitted to the City Core Government. These could be new features to be added to the simulation or special actions that impact the simulation in a one-off basis. The exact nature of petitions is left to the imagination of the citizenry. The City Core Government will seriously consider the weighted opinions of the citizens but is not obliged to action them.
<% end %>
