<% content_for :title, "#{@skill.name} [#{@skill.skill_group}]" %>
<% content_for :lead, "<p>#{@skill.description}</p>".html_safe %>

<h2>Learned In</h2>
<p>
	<% if @skill.district %>
	<%= link_to @skill.district.name, @skill.district %> &nbsp;
	<% end %>
	<% if @skill.primary_profession %>
	<%= link_to @skill.primary_profession.name, @skill.primary_profession %> &nbsp;
	<% end %>
	<% if @skill.secondary_profession %>
	<%= link_to @skill.secondary_profession.name, @skill.secondary_profession %> &nbsp;
	<% end %>
	<% if @skill.tertiary_profession %>
	<%= link_to @skill.tertiary_profession.name, @skill.tertiary_profession %> &nbsp;
	<% end %>
</p>