<blockquote>
  <p class="summary"><%=event.summary.html_safe %></p>
  <small><cite title="Source Title">City Core Government</cite></small>
</blockquote>

<%=render partial: '/events/table', locals: {event: event} %>

<% unless defined?(no_button) && no_button %>
	<% if current_citizen %>
		<% if current_citizen.dealing_with_event?(event) %>
		<div class="row">
			<div class="col-lg-offset-6 col-lg-6 text-right">
				<%=link_to "View Projects", "#{current_citizen_path('projects')}", class: 'btn-lg btn-info' %>
			</div>
		</div>
		<% else %>
		<%
			if event.crisis?
				button_label = "Deal with Crisis"
			elsif event.opportunity?
				button_label = "Seize the Opportunity"
			end
		%>
		<div class="row">
			<div class="col-lg-offset-6 col-lg-6 text-right">
				<%=link_to button_label, "#{new_project_path}?event_type=#{event.event_type}", class: 'btn-lg btn-primary' %>
			</div>
		</div>
		<% end %>
	<% end %>
<% end %>