<% content_for :title, "#{@event.event_type}: #{@event.name}" %>
<% content_for :lead, "<p class=\"lead\">#{@event.summary.html_safe}</p>".html_safe %>

<%=render partial: '/events/table', locals: {event: @event} %>
