<% content_for :title, "#{@profession.name} [#{@profession.profession_group}]" %>
<% content_for :lead, "#{@profession.description}".html_safe %>

<h2>Skills</h2>
<ul class="list-group">
<% @profession.skills.each do |skill| %>
	<li class="list-group-item"><%=link_to skill.name, skill %></li>
<% end %>
</ul>

<% content_for :help_title, "The Professions" %>
<% content_for :help_body do %>
The citizens of Ultimapolis benefit from gainful employment in a variety of professions where they learn skills that may prove useful to meet the city's needs. Each citizen will be paid by their employer on top of any other sources of income they may have. As the citizen gains experience they may be promoted up the ranks and command more wages and learn new skills. They may also decide at any time to start a new profession in the hopes of learning different skills.
<% end %>