<% content_for :title, 'Take a Loan' %>
<% content_for :lead, "<p class=\"lead\">You can borrow credits from the Central Bank up to your current net worth excluding credits in the bank. New loans require interest payments to be paid at the rate of #{format_rating(Global.singleton.interest)}. You can pay loans back early but all interest payments due must be paid along with the principal sum borrowed.</p>".html_safe %>

<%= render 'form' %>
