@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

@import "bootstrap-sprockets";

$font-family-sans-serif: 'Oswald', sans-serif;

@import "color_scheme";

@import "bootswatch/sandstone/variables";
@import "bootstrap";

@import "bootswatch/sandstone/bootswatch";

.navbar-brand {
	text-transform: uppercase;
	font-weight: bold;
}

.alert a, .alert .alert-link {
	color: #000;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

textarea { 
	min-height:200px;
}