<% content_for :title, @trade_good.name %>
<% content_for :lead, "<p class=\"lead\">#{@trade_good.description}. Produced in a #{link_to @trade_good.facility_type.name, @trade_good.facility_type}.</p>".html_safe %>

<% if @trade_good.trade_good_raw_materials.count > 0 %>
<h2>Production Cost</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Trade Good</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @trade_good.trade_good_raw_materials.sort{|a,b| a.raw_material.name <=> b.raw_material.name}.each do | erm | %>
    <tr>
      <td><%= link_to(erm.raw_material.name, erm.raw_material) %></td>
      <td><%= erm.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% unless @trade_good.for_sale < 1 %>
<h2>Exchange Sale Listings</h2>
<%= @trade_good.for_sale %> @ <%=format_currency @trade_good.exchange_price %>
<% end %>

<% content_for :help_title, "Trade Goods" %>
<% content_for :help_body do %>
There are many commodities and end-user products encompassed by the broad term of trade good. Everything from the basest of ores to the most advanced components used to make rare equipment. All are produced in one type of facility or another. Some are made using raw materials obtained through other facilities or bought on the Exchange.
<% end %>