<hr/>

<div id="footer" class="row">
	<div class="col-lg-4 col-centered">
		<p class="text-muted">&copy;Copyright 2015 Seyed Razavi. Code available on <a href="https://github.com/monkeyx/ultimapolis">GitHub</a> under the <a href="https://raw.githubusercontent.com/monkeyx/ultimapolis/master/LICENSE">MIT License</a>.</p>
	</div>
</div>